Repository cryptobotnet/cryptobotnet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore(release): 1.0.0
  repos/packages/eslint-config-shared/CHANGELOG.md
  repos/packages/eslint-config-shared/package.json
Due: prettier --write

Notes added by 'git notes add'
  cab05489583ff3fa25114dc39d696f575415390f
Due: none

Notes added by 'git notes add'
  c1585af2c90cf4215d8b9084a16c931f6b2f3ffa
Due: none

chore: update multi-releaserc
  .multi-releaserc
  package.json
  repos/packages/eslint-config-shared/CHANGELOG.md
  repos/packages/eslint-config-shared/package.json
Due: prettier --write

chore(release): 1.0.0
  repos/apps/positions-bot/CHANGELOG.md
  repos/apps/positions-bot/package.json
Due: prettier --write

Notes added by 'git notes add'
  de9e25e5f34f7897d2064e601384df0df7999c65
Due: none

chore(release): 1.0.0
  repos/apps/alerts-bot/CHANGELOG.md
  repos/apps/alerts-bot/package.json
Due: prettier --write

Notes added by 'git notes add'
  222b03a2da17fd1affee368e00685668da69f7b5
Due: none

chore(release): 1.0.0
  repos/apps/server/CHANGELOG.md
  repos/apps/server/package.json
Due: prettier --write

Notes added by 'git notes add'
  e6402798a780f56d53084f24472317c356572891
Due: none

chore(release): 1.0.0
  repos/apps/web-app/CHANGELOG.md
  repos/apps/web-app/package.json
Due: prettier --write

Notes added by 'git notes add'
  abd8674250eb21dc079c7318deb879d7899c9407
Due: none

chore(release): 1.0.0
  repos/components/okx-api/CHANGELOG.md
  repos/components/okx-api/package.json
Due: prettier --write

Notes added by 'git notes add'
  dc82ea50a21d96569ccb9dc284e201cd330aefe6
Due: none

chore(release): 1.0.0
  repos/components/redis-client/CHANGELOG.md
  repos/components/redis-client/package.json
Due: prettier --write

Notes added by 'git notes add'
  bad5e6e9d99adf202e27b5e8be27b5bb3e178395
Due: none

chore(release): 1.0.0
  repos/components/web-sockets/CHANGELOG.md
  repos/components/web-sockets/package.json
Due: prettier --write

Notes added by 'git notes add'
  63fdcc58aed02db24d41e556219a1145fd9bc777
Due: none

Notes added by 'git notes add'
  288431e76a91f738cd4098767115fe15ed458e34
Due: none

chore(release): 1.0.0
  repos/packages/tsconfig-shared/CHANGELOG.md
  repos/packages/tsconfig-shared/package.json
Due: prettier --write

Notes added by 'git notes add'
  d46cd332ad706a3122fff01b5ff473d91f390c3e
Due: none

feat(redis-client): rename price alert key, add position key, add position index
  repos/components/redis-client/src/index.ts
  repos/components/redis-client/src/lib/key-getters.ts
  repos/components/redis-client/src/lib/keys.ts
Due: prettier --write, eslint --fix

feat(okx-api): add methods in OKXWebSocketPrivate, OKXHttpPrivate, refactor types
  repos/components/okx-api/src/api/http-private.ts
  repos/components/okx-api/src/api/web-socket-private.ts
  repos/components/okx-api/src/api/web-socket-public.ts
  repos/components/okx-api/src/components/fetcher.ts
  repos/components/okx-api/src/components/message-handler.ts
  repos/components/okx-api/src/components/web-socket.ts
  repos/components/okx-api/src/lib/constants.ts
  repos/components/okx-api/src/lib/types.ts
Due: prettier --write, eslint --fix

feat(web-app): fetch server route to subscribe for user positions
  repos/apps/web-app/src/lib/urls.ts
  repos/apps/web-app/src/pages/api/user/add-alert.rest.ts
  repos/apps/web-app/src/pages/api/user/get-alerts.rest.ts
  repos/apps/web-app/src/pages/api/user/remove-alert.rest.ts
  repos/apps/web-app/src/pages/api/user/set-secrets.rest.ts
Due: prettier --write, eslint --fix

feat(server): add WebSocketsManager, add subscribeUser method, refactor structure
  repos/apps/server/CHANGELOG.md
  repos/apps/server/package.json
  repos/apps/server/src/components/app.ts
  repos/apps/server/src/components/router.ts
  repos/apps/server/src/lib/constants.ts
  repos/apps/server/src/lib/redis.ts
  repos/apps/server/src/lib/telegram/index.ts
  repos/apps/server/src/lib/telegram/send-message.ts
  repos/apps/server/src/lib/telegram/send-position-alert.ts
  repos/apps/server/src/lib/telegram/send-price-alert.ts
  repos/apps/server/src/lib/telegram/send-telegram-price-alert.ts
  repos/apps/server/src/lib/web-sockets.ts
  repos/apps/server/src/lib/web-sockets/handle-private-message.ts
  repos/apps/server/src/lib/web-sockets/handle-public-message.ts
  repos/apps/server/src/lib/web-sockets/index.ts
  repos/apps/server/src/lib/web-sockets/manager.ts
  repos/apps/server/src/middleware/compression.ts
  repos/apps/server/src/middleware/cors.ts
  repos/apps/server/src/middleware/rate-limit.ts
  repos/apps/server/src/middleware/slow-down.ts
  repos/components/web-sockets/.eslintrc.json
  repos/components/web-sockets/CHANGELOG.md
  repos/components/web-sockets/package.json
  repos/components/web-sockets/src/index.ts
  repos/components/web-sockets/tsconfig.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: update deps
  package.json
  repos/apps/alerts-bot/package.json
  repos/apps/positions-bot/package.json
  repos/apps/server/package.json
  repos/apps/web-app/package.json
  repos/components/okx-api/package.json
  repos/components/redis-client/package.json
  repos/packages/eslint-config-shared/package.json
  yarn.lock
Due: prettier --write

feat(redis-client): add flag for position alerts enabled
  repos/components/redis-client/src/index.ts
  repos/components/redis-client/src/lib/key-getters.ts
  repos/components/redis-client/src/lib/keys.ts
Due: prettier --write, eslint --fix

feat(okx-api): pass close code to web socket connection
  repos/components/okx-api/src/components/web-socket.ts
Due: prettier --write, eslint --fix

feat(web-app): add checkbox to enable position alerts
  repos/apps/web-app/src/api/index.ts
  repos/apps/web-app/src/api/user/get-position-alerts-enabled.ts
  repos/apps/web-app/src/api/user/set-position-alerts-enabled.ts
  repos/apps/web-app/src/components/layout/styles.module.css
  repos/apps/web-app/src/lib/urls.ts
  repos/apps/web-app/src/pages/alerts/add/index.page.tsx
  repos/apps/web-app/src/pages/api/user/get-position-alerts-enabled.rest.ts
  repos/apps/web-app/src/pages/api/user/set-position-alerts-enabled.rest.ts
  repos/apps/web-app/src/pages/api/user/set-secrets.rest.ts
  repos/apps/web-app/src/pages/positions/index.page.tsx
  repos/apps/web-app/src/pages/positions/styles.module.css
Due: prettier --write, eslint --fix

feat(server): unsubscribe user
  repos/apps/server/src/components/router.ts
  repos/apps/server/src/lib/constants.ts
  repos/apps/server/src/lib/telegram/send-position-alert.ts
  repos/apps/server/src/lib/web-sockets/manager.ts
Due: prettier --write, eslint --fix

fix(okx-api): uncomment ping in interval
  repos/components/okx-api/src/components/web-socket.ts
Due: prettier --write, eslint --fix

fix(server): update position messages
  repos/apps/server/src/lib/telegram/send-position-alert.ts
Due: prettier --write, eslint --fix

fix(server): uplRatioRound
  repos/apps/server/src/lib/web-sockets/handle-private-message.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.{css})) or (any of: *.{json,html,md})
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: any of: *.{css}
