Repository cryptobotnet/cryptobotnet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{css}": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{json,html,md}": [
    "prettier --write"
  ]
}

ci: deploy bots
  .github/workflows/deploy.yml
Due: none

fix: move dotenv to prod deps
  .gitignore
  repos/apps/alerts-bot/package.json
  repos/apps/positions-bot/package.json
  repos/apps/server/package.json
Due: prettier --write

chore: add build with esbuild for server apps
  package.json
  repos/apps/alerts-bot/package.json
  repos/apps/positions-bot/package.json
  repos/apps/server/package.json
  yarn.lock
Due: prettier --write

ci: fix deploy
  .github/workflows/deploy.yml
Due: none

chore: update gitignore
  .gitignore
  repos/apps/alerts-bot/src/lib/constants.ts
Due: prettier --write, eslint --fix

ci: deploy server apps on push to master
  .github/workflows/deploy.yml
  repos/apps/alerts-bot/src/lib/constants.ts
Due: prettier --write, eslint --fix

ci: add server deployment
  .github/workflows/deploy.yml
Due: none

ci: add web-app deployment
  .github/workflows/deploy.yml
Due: none

ci: fix web-app deploy
  .github/workflows/deploy.yml
  repos/apps/web-app/package.json
  yarn.lock
Due: prettier --write

ci: fix web-app build step
  .github/workflows/checkup.yml
  .github/workflows/deploy.yml
Due: none

ci: rename jobs
  .github/workflows/checkup.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

chore(server): add test endpoint
  repos/apps/server/src/components/router.ts
Due: prettier --write, eslint --fix

fix(web-sockets): throttle sendTelegramPriceAlert
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  repos/components/web-sockets/package.json
  repos/components/web-sockets/src/index.ts
Due: prettier --write, eslint --fix

fix(redis-client): increase tolerance
  repos/components/redis-client/src/index.ts
Due: prettier --write, eslint --fix

feat(web-sockets): throttle onMarkPriceMessage
  repos/components/okx-api/src/components/message-handler.ts
  repos/components/web-sockets/src/index.ts
Due: prettier --write, eslint --fix

fix(okx-api): refactor debug
  repos/apps/server/src/lib/telegram/send-telegram-price-alert.ts
  repos/components/okx-api/src/components/message-handler.ts
Due: prettier --write, eslint --fix

feat(server): add route to unsubscribe from instrument
  repos/apps/server/package.json
  repos/apps/server/src/components/router.ts
  repos/apps/server/src/lib/constants.ts
Due: prettier --write, eslint --fix

feat(web-app): fetch unsubscribeInstrument on remove alert
  repos/apps/web-app/package.json
  repos/apps/web-app/src/lib/urls.ts
  repos/apps/web-app/src/pages/api/user/remove-alert.rest.ts
Due: prettier --write, eslint --fix

fix(redis-client): findAlerts
  repos/components/redis-client/src/index.ts
Due: prettier --write, eslint --fix

feat(web-sockets): add unsuscribe with event emitter
  repos/components/web-sockets/src/index.ts
Due: prettier --write, eslint --fix

fix(okxa-api): refactor message handler
  repos/components/okx-api/src/components/message-handler.ts
Due: prettier --write, eslint --fix

feat(okx-api): add subscribeTicker, unsubscribeTicker
  repos/components/okx-api/src/api/web-socket-public.ts
Due: prettier --write, eslint --fix

fix(web-sockets): replace mark price channel with tickers channel
  repos/components/web-sockets/src/index.ts
Due: prettier --write, eslint --fix

fix(redis-client): tolerance
  repos/components/redis-client/src/index.ts
  repos/components/redis-client/src/lib/tolerance.ts
Due: prettier --write, eslint --fix

fix(web-sockets): increase throttle timeout
  repos/components/web-sockets/src/index.ts
Due: prettier --write, eslint --fix

fix(web-app): debug fetchServerRoute
  repos/apps/web-app/src/lib/fetch.ts
  repos/apps/web-app/src/pages/api/user/add-alert.rest.ts
  repos/components/redis-client/src/lib/tolerance.ts
Due: prettier --write, eslint --fix

fix(web-app): await for fetchServerRoute
  repos/apps/web-app/src/lib/fetch.ts
  repos/apps/web-app/src/pages/api/user/add-alert.rest.ts
  repos/apps/web-app/src/pages/api/user/remove-alert.rest.ts
Due: prettier --write, eslint --fix

fix(server): price alert styling
  repos/apps/server/src/lib/telegram/send-telegram-price-alert.ts
Due: prettier --write, eslint --fix

feat(okx-api): batch subscribe and unsubscribe, add isOpen
  repos/components/okx-api/src/api/web-socket-public.ts
  repos/components/okx-api/src/components/web-socket.ts
Due: prettier --write, eslint --fix

feat(web-sockets): add getConnection
  repos/components/web-sockets/src/index.ts
Due: prettier --write, eslint --fix

feat(web-app): change logic for add-alert page
  repos/apps/web-app/src/pages/alerts/add/index.page.tsx
  repos/apps/web-app/src/pages/alerts/add/styles.module.css
  repos/apps/web-app/src/pages/alerts/index.page.tsx
Due: prettier --write, eslint --fix

feat(okx-api): add onClose callback
  repos/components/okx-api/src/api/web-socket-public.ts
  repos/components/okx-api/src/components/web-socket.ts
Due: prettier --write, eslint --fix

feat(web-sockets): reconnect on close
  repos/components/web-sockets/src/index.ts
Due: prettier --write, eslint --fix

fix(okx-api): ping
  repos/components/okx-api/src/components/web-socket.ts
Due: prettier --write, eslint --fix

chore: update .releaserc
  .releaserc
Due: none

chore: add multi-semantic-release
  .multi-releaserc
  package.json
  yarn.lock
Due: prettier --write

ci: manual deploy and release
  .github/workflows/checkup.yml
  .github/workflows/deploy.yml
Due: none

chore(release): 1.0.0
  repos/packages/tsconfig-shared/CHANGELOG.md
  repos/packages/tsconfig-shared/package.json
Due: prettier --write

Notes added by 'git notes add'
  14ce3906aa803952f8cf1d020f8c5063597a5453
Due: none

chore: remove release for ts-config
  repos/packages/tsconfig-shared/CHANGELOG.md
  repos/packages/tsconfig-shared/package.json
Due: prettier --write
