Repository cryptobotnet/cryptobotnet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{css}": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{json,html,md}": [
    "prettier --write"
  ]
}

feat: add basic commands, add sessions, add supabase
  .eslintignore
  .gitignore
  .prettierignore
  nodemon.json
  package.json
  src/bot.ts
  src/features/help/index.ts
  src/features/key/conversation/index.ts
  src/features/key/index.ts
  src/features/start/index.ts
  src/index.js
  src/lib/bot.ts
  src/lib/constants.ts
  src/lib/error-handler.ts
  src/lib/session.ts
  src/lib/supabase.ts
  src/lib/throttler.ts
  src/lib/types.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: temporary @semantic-release/commit-analyzer config
  .releaserc
Due: none

ci: fix release env
  .github/workflows/release.yml
Due: none

chore: update license
  .github/workflows/release.yml
  package.json
  repos/api/package.json
  repos/app/package.json
  repos/bot/package.json
Due: prettier --write

chore: add monorepo readme
  readme.md
Due: prettier --write

chore: fix repos version in package.json
  repos/api/package.json
  repos/app/package.json
  repos/bot/package.json
  yarn.lock
Due: prettier --write

chore: fix repos version
  repos/api/package.json
  repos/app/package.json
  repos/bot/package.json
  yarn.lock
Due: prettier --write

fix: release script in package.json
  package.json
Due: prettier --write

feat(api): add okx websocket api
  repos/api/package.json
  repos/api/src/http.ts
  repos/api/src/index.ts
  repos/api/src/lib/constants.ts
  repos/api/src/lib/dotenv.ts
  repos/api/src/lib/handle-response.ts
  repos/api/src/lib/ping.ts
  repos/api/src/lib/sign.ts
  repos/api/src/lib/types.ts
  repos/api/src/okx/index.ts
  repos/api/src/okx/private/index.ts
  repos/api/src/okx/public/index.ts
  repos/api/src/types/global.d.ts
  repos/api/src/ws.ts
  repos/bot/nodemon.json
  repos/bot/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(api): add OKXPublicWebSocket, OKXPrivateWebSocket
  repos/api/package.json
  repos/api/src/index.ts
  repos/api/src/lib/debug.ts
  repos/api/src/lib/handle-response.ts
  repos/api/src/lib/message-handler.ts
  repos/api/src/lib/types.ts
  repos/api/src/okx/private.ts
  repos/api/src/okx/private/index.ts
  repos/api/src/okx/public.ts
  repos/api/src/okx/public/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: add parent OKXWebSocket class
  repos/api/src/api/web-socket-private.ts
  repos/api/src/api/web-socket-public.ts
  repos/api/src/components/message-handler.ts
  repos/api/src/components/types.ts
  repos/api/src/components/web-socket.ts
  repos/api/src/index.ts
  repos/api/src/lib/debug.ts
  repos/api/src/lib/ping.ts
  repos/api/src/lib/sign.ts
  repos/api/src/okx/private.ts
  repos/api/src/okx/public.ts
Due: prettier --write, eslint --fix

feat(bot): redesign bot logic
  Procfile
  package.json
  repos/api/src/lib/dotenv.ts
  repos/bot/package.json
  repos/bot/src/commands/start/index.ts
  repos/bot/src/components/bot.ts
  repos/bot/src/components/error-handler.ts
  repos/bot/src/components/throttler.ts
  repos/bot/src/features/help/index.ts
  repos/bot/src/features/key/conversation/index.ts
  repos/bot/src/features/key/index.ts
  repos/bot/src/features/start/index.ts
  repos/bot/src/index.ts
  repos/bot/src/lib/bot.ts
  repos/bot/src/lib/constants.ts
  repos/bot/src/lib/dotenv.ts
  repos/bot/src/lib/redis.ts
  repos/bot/src/lib/session.ts
  repos/bot/src/lib/supabase.ts
  repos/bot/src/lib/types.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update Procfile
  Procfile
Due: none

chore: temp disable husky
  package.json
Due: prettier --write

chore: update package.json
  repos/bot/package.json
Due: prettier --write

chore(bot): remove supabase
  repos/bot/package.json
  yarn.lock
Due: prettier --write

chore(bot): fix scripts for heroku
  Procfile
  repos/bot/package.json
Due: prettier --write

chore(bot): fix start script for heroku
  repos/bot/package.json
Due: prettier --write

chore: rename api to okx
  package.json
  repos/bot/nodemon.json
  repos/bot/package.json
  repos/bot/src/commands/start/index.ts
  repos/bot/src/lib/constants.ts
  repos/bot/src/lib/redis.ts
  repos/okx/.eslintrc.json
  repos/okx/package.json
  repos/okx/src/api/web-socket-private.ts
  repos/okx/src/api/web-socket-public.ts
  repos/okx/src/components/message-handler.ts
  repos/okx/src/components/types.ts
  repos/okx/src/components/web-socket.ts
  repos/okx/src/index.ts
  repos/okx/src/lib/constants.ts
  repos/okx/src/lib/debug.ts
  repos/okx/src/lib/dotenv.ts
  repos/okx/src/lib/sign.ts
  repos/okx/tsconfig.json
Due: prettier --write, eslint --fix

feat(bot): add help command
  repos/apps/bot/src/commands/help/index.ts
  repos/apps/bot/src/commands/start/handler.ts
  repos/apps/bot/src/commands/start/index.ts
  repos/apps/bot/src/index.ts
Due: prettier --write, eslint --fix

fix(bot): rename firstMessage to introMessage
  repos/apps/bot/src/commands/start/handler.ts
Due: prettier --write, eslint --fix

feat(redis): rename firstResponse to introMessage
  repos/packages/redis/src/index.ts
  repos/packages/redis/src/lib/key-getters.ts
  repos/packages/redis/src/lib/keys.ts
Due: prettier --write, eslint --fix

feat(app): add ui components
  repos/apps/app/package.json
  repos/apps/app/src/components/button/index.tsx
  repos/apps/app/src/components/button/styles.module.css
  repos/apps/app/src/components/icons/index.ts
  repos/apps/app/src/components/input/index.tsx
  repos/apps/app/src/components/input/styles.module.css
  repos/apps/app/src/components/layout/styles.module.css
  repos/apps/app/src/components/radio/index.tsx
  repos/apps/app/src/components/radio/styles.module.css
  repos/apps/app/src/components/select/index.tsx
  repos/apps/app/src/components/select/styles.module.css
  repos/apps/app/src/components/test-component/index.tsx
  repos/apps/app/src/lib/styles/global.css
  repos/apps/app/src/lib/types/global.d.ts
  repos/apps/app/src/pages/_app.page.tsx
  repos/apps/app/src/pages/home/index.tsx
  repos/apps/app/src/pages/home/styles.module.css
  yarn.lock
Due: prettier --write, eslint --fix

chore(bot): remove engines field from package.json
  repos/apps/bot/package.json
Due: prettier --write

chore: fix module resolving, refactor tsconfig
  .eslintignore
  .prettierignore
  package.json
  repos/apps/api/nodemon.json
  repos/apps/api/src/lib/redis.ts
  repos/apps/app/package.json
  repos/apps/app/src/pages/home/index.tsx
  repos/apps/app/src/pages/home/styles.module.css
  repos/apps/app/tsconfig.json
  repos/apps/bot/nodemon.json
  repos/apps/bot/package.json
  repos/apps/bot/src/lib/redis.ts
  repos/apps/bot/tsconfig.json
  repos/components/okx-api/.eslintrc.json
  repos/components/okx-api/package.json
  repos/components/okx-api/src/api/web-socket-private.ts
  repos/components/okx-api/src/api/web-socket-public.ts
  repos/components/okx-api/src/components/message-handler.ts
  repos/components/okx-api/src/components/types.ts
  repos/components/okx-api/src/components/web-socket.ts
  repos/components/okx-api/src/index.ts
  repos/components/okx-api/src/lib/constants.ts
  repos/components/okx-api/src/lib/debug.ts
  repos/components/okx-api/src/lib/dotenv.ts
  repos/components/okx-api/src/lib/sign.ts
  repos/components/okx-api/tsconfig.json
  repos/components/redis-model/.eslintrc.json
  repos/components/redis-model/package.json
  repos/components/redis-model/src/index.ts
  repos/components/redis-model/src/lib/key-getters.ts
  repos/components/redis-model/src/lib/keys.ts
  repos/components/redis-model/tsconfig.json
  repos/packages/okx/tsconfig.json
  repos/packages/redis/package.json
  repos/packages/redis/tsconfig.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(api): add api components
  repos/apps/api/package.json
  repos/apps/api/src/components/app.ts
  repos/apps/api/src/components/compression.ts
  repos/apps/api/src/components/cors.ts
  repos/apps/api/src/components/rate-limit.ts
  repos/apps/api/src/components/slow-down.ts
  repos/apps/api/src/endpoints/index.ts
  repos/apps/api/src/endpoints/price-alerts.ts
  repos/apps/api/src/index.ts
  repos/apps/api/src/lib/constants.ts
  repos/apps/bot/src/components/bot.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(okx-api): add http api, make component isomorphic
  repos/components/okx-api/package.json
  repos/components/okx-api/src/api/http-private.ts
  repos/components/okx-api/src/api/http-public.ts
  repos/components/okx-api/src/components/fetcher.ts
  repos/components/okx-api/src/components/message-handler.ts
  repos/components/okx-api/src/components/sign.ts
  repos/components/okx-api/src/components/types.ts
  repos/components/okx-api/src/components/web-socket.ts
  repos/components/okx-api/src/index.ts
  repos/components/okx-api/src/lib/constants.ts
  repos/components/okx-api/src/lib/global.d.ts
  repos/components/okx-api/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(okx-api): remove isomorphic deps because okx api is server side only
  repos/components/okx-api/package.json
  repos/components/okx-api/src/components/fetcher.ts
  repos/components/okx-api/src/components/sign.ts
  repos/components/okx-api/src/components/web-socket.ts
  repos/components/okx-api/src/lib/global.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(api): add okx endpoints
  repos/apps/api/src/endpoints/index.ts
  repos/apps/api/src/endpoints/okx.ts
  repos/apps/api/src/endpoints/price-alerts.ts
  repos/apps/api/src/index.ts
  repos/apps/api/src/lib/constants.ts
  repos/apps/api/src/lib/okx.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(okx-api): export types, move types to lib
  repos/components/okx-api/src/api/http-private.ts
  repos/components/okx-api/src/api/http-public.ts
  repos/components/okx-api/src/api/web-socket-private.ts
  repos/components/okx-api/src/api/web-socket-public.ts
  repos/components/okx-api/src/components/fetcher.ts
  repos/components/okx-api/src/components/message-handler.ts
  repos/components/okx-api/src/components/web-socket.ts
  repos/components/okx-api/src/index.ts
  repos/components/okx-api/src/lib/types.ts
Due: prettier --write, eslint --fix

feat(app): add pages and forms
  repos/apps/app/package.json
  repos/apps/app/src/api/index.ts
  repos/apps/app/src/components/button/index.tsx
  repos/apps/app/src/components/button/styles.module.css
  repos/apps/app/src/components/footer/index.tsx
  repos/apps/app/src/components/footer/styles.module.css
  repos/apps/app/src/components/header/index.tsx
  repos/apps/app/src/components/header/styles.module.css
  repos/apps/app/src/components/input/index.tsx
  repos/apps/app/src/components/input/styles.module.css
  repos/apps/app/src/components/layout/index.tsx
  repos/apps/app/src/components/layout/styles.module.css
  repos/apps/app/src/components/meta/locales.ts
  repos/apps/app/src/components/radio/index.tsx
  repos/apps/app/src/components/radio/styles.module.css
  repos/apps/app/src/components/select/index.tsx
  repos/apps/app/src/components/select/styles.module.css
  repos/apps/app/src/lib/fetcher.ts
  repos/apps/app/src/lib/get-number-precision.ts
  repos/apps/app/src/lib/styles/variables.css
  repos/apps/app/src/lib/urls.ts
  repos/apps/app/src/pages/_app.page.tsx
  repos/apps/app/src/pages/alerts/add/index.page.tsx
  repos/apps/app/src/pages/alerts/add/styles.module.css
  repos/apps/app/src/pages/alerts/index.page.tsx
  repos/apps/app/src/pages/alerts/styles.module.css
  repos/apps/app/src/pages/home/index.tsx
  repos/apps/app/src/pages/home/styles.module.css
  repos/apps/app/src/pages/index.page.tsx
  repos/apps/app/src/pages/positions/index.page.tsx
  repos/apps/app/src/pages/settings/index.page.tsx
  repos/apps/app/src/pages/settings/styles.module.css
Due: prettier --write, eslint --fix

feat(app): switch antd theme with telegram colorScheme
  repos/apps/app/src/lib/types/global.d.ts
  repos/apps/app/src/pages/_app.page.tsx
Due: prettier --write, eslint --fix

fix(app): remove input border for dark theme
  repos/apps/app/src/pages/_app.page.tsx
  repos/apps/app/src/pages/alerts/add/styles.module.css
Due: prettier --write, eslint --fix

fix(app): theme
  repos/apps/app/src/pages/_app.page.tsx
  repos/apps/app/src/pages/_document.page.tsx
  repos/apps/app/src/pages/settings/index.page.tsx
Due: prettier --write, eslint --fix

fix(app): theme
  repos/apps/app/src/components/header/index.tsx
  repos/apps/app/src/components/header/styles.module.css
  repos/apps/app/src/pages/settings/index.page.tsx
Due: prettier --write, eslint --fix

feat(app): add api routes, add telegram data validation
  .gitignore
  package.json
  repos/apps/app/package.json
  repos/apps/app/src/api/index.ts
  repos/apps/app/src/api/okx/get-tickers.ts
  repos/apps/app/src/api/telegram/validate.ts
  repos/apps/app/src/components/header/index.tsx
  repos/apps/app/src/components/icons/index.ts
  repos/apps/app/src/components/icons/telegram.svg
  repos/apps/app/src/components/link/index.tsx
  repos/apps/app/src/components/loader/index.tsx
  repos/apps/app/src/components/loader/loader.png
  repos/apps/app/src/components/loader/styles.module.css
  repos/apps/app/src/context/telegram.tsx
  repos/apps/app/src/lib/fetch.ts
  repos/apps/app/src/lib/is-web-app.ts
  repos/apps/app/src/lib/load-script.ts
  repos/apps/app/src/lib/middleware/index.ts
  repos/apps/app/src/lib/middleware/validate-request-body.ts
  repos/apps/app/src/lib/middleware/validate-request-method.ts
  repos/apps/app/src/lib/okx.ts
  repos/apps/app/src/lib/urls.ts
  repos/apps/app/src/pages/_app.page.tsx
  repos/apps/app/src/pages/_document.page.tsx
  repos/apps/app/src/pages/api/okx/get-tickers.rest.ts
  repos/apps/app/src/pages/api/telegram/validate.rest.ts
  yarn.lock
Due: prettier --write, eslint --fix
